/**
	* ${pathInfo.summary}
	* @remarks
	* ${pathInfo.description}
	* ${(pathInfo.tags || []).join(', ')}
*/
export type ${name} = (
	pathParams: ${pathName},
	body: ${bodyName},
	options: RequestInit & {
		headers: ${headerName},
	}
) => Promise<${responseNames.join(' | ')}>